#fbody{
    height: 1000px;
    width: 1910px;
    border: 5px black;
}

#con{
    height: 1000px;
    width: 1910px;
    border: 5px black;
}
.r{
    height: 76.9px;
    background-color: #B31942;
}
.w{
    height: 76.9px;
    background-color: white;
}
p{
    text-align: center;
    letter-spacing: 70px;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 35px;
    color: white;
    font-size: 350%;
    line-height: 10%;
}

#side{
        position: absolute;
        top: 8px;
        left: 8px;
        width: 761.5px;
        height: 538.5px;
        background-color: #041e42;
        z-index: 1;
        padding: 12px;
        line-height: 140%;
        box-sizing: border-box;
      }
.star {
font-size: 60px;
color: white;
margin-top: -4px;
}

.star-row--five {
padding: 0px 33px;
}
